body {
	font-family: Arial, sans-serif;
    text-align: center;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	margin: 20px;
}

section {
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
    background-color: #d4d4d4;
    border-radius: 30px;
}

button{
	background-color: #333;
	color: #fff;
	padding: 10px;
	border: none;
	cursor: pointer;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
img{
    height: 300px;
    border-radius: 30px;
}
h2{
    font-size: 60px;
}
h3{
    font-size: 40px;
}
p{
    font-size: 20px;
}